name: Build and Push Docker Image

on:
  push:
    branches: [ main ]     # déclenche sur push vers main
    tags:                   # déclenche aussi sur tags
      - 'v*'                # tout tag commençant par "v", ex: v1.0.0

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: devops-tp-docker

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY }}/xarvix2/${{ env.IMAGE_NAME }}:main
            ${{ env.REGISTRY }}/xarvix2/${{ env.IMAGE_NAME }}:${{ github.ref_name }}
